<ion-view view-title=''>
    <ion-content>
        <div class="conditionsText" style="">
       <p><strong><u>תנאי שימוש ומדיניות פרטיות</u></strong></p>
<p>ספונטני ד.ב.ת 2016 בע"מ (להלן:"<strong>החברה</strong>") מפעילה את האפליקציה ספונטני &ndash; &nbsp;Sppontani (להלן: "<strong>האפליקציה</strong>") ואת אתר החברה www.sppontani.co.il (להלן: "<strong>האתר</strong>") כשירות למשתמשים ולבעלי עסק ובכפוף לתנאי השימוש (להלן: "<strong>תנאי השימוש</strong>") אשר מפורטים להלן ולקווים מנחים נוספים אשר יתפרסמו מעת לעת על ידי החברה. על ידי שימוש באפליקציה את/ה מסכים/מה ומחויב/ת לתנאי השימוש אלו ולכל שינוי אשר החברה תבצע בהם. החברה שומרת לעצמה את הזכות לשנות ו/או לתקן את תנאי השימוש מפעם לפעם, וזאת מבלי ליתן לך הודעה על כך.</p>
<p>אנא קרא/י בעיון תנאי שימוש אלו לפני שהינך משתמש/ת באתר ו/או באפליקציה. ככל שאינך מסכים/מה לתנאי השימוש אנא אל תגלוש באתר זה ו/או הסר את האפליקציה ממכשירך. במידה וגלשת באתר זה ו/או השתמש באפליקציה, הרי שהינך מסכים/מה לתנאי השימוש באתר ו/או באפליקציה וכפוף/פה להם.</p>
<p>השימוש במונחים: "החברה", "אנחנו", "אנו" על מנת לתאר את החברה הם לצורך הנוחות בלבד ואינם תיאור מדויק של בעלות ו/או תיאור משפטי של החברה.</p>
<ol>
<li>האתר ו/או האפליקציה מיועדים למתן מידע למשתמשים אודות מבצעים והנחות המתבצעות בבתי עסק של הסעדה, כגון: מסעדות ובתי קפה (להלן: "<strong>בתי העסק</strong>"), בזמנים מחוץ לשעות השיא, וזאת בהתאם למיקומו המשוער של המשתמש ואשר אותר באמצעות המכשיר הנייד בו האפליקציה מותקנת או על פי דרכי סינון רצויות למשתמש (כגון: אזור מבוקש, סוג האוכל המבוקש וכיו"ב).</li>
<li>לאחר הורדת האפליקציה והרישום אליה, האפליקציה תאתר את מיקום המכשיר הנייד בו היא מותקנת, ולפניך תפתח רשימה של בתי העסק אשר מציעים מבצעים והנחות באזור בו אותר מכשירך. ככל שתגלול/תגללי למטה ברשימה, כך יגדל טווח האיזור של בתי העסק המציעים הנחות ו/או מבצעים.</li>
<li>כעת עליך לסמן את ההנחה ו/או המבצע המבוקש על ידך. בפעם הראשונה לאחר סימון הנחה ו/או מבצע כאמור, יפתח חלון נפרד לצורך הזנת פרטים אישיים אשר יישמרו במאגר המידע של החברה בהתאם למדיניות הפרטיות המפורטת בתנאים אלו. לאחר הזנת פרטים אלו (שם מלא, מייל ומס' טלפון נייד) האפליקציה תיצור חשבון למשתמש/ת אשר בו ניתן יהיה לראות מבצעים ו/או הנחות קודמות אשר סומנו על ידך. דע/י כי סימון ההנחה ו/או המבצע על ידך אינו מבצע הזמנה מבעל העסק.</li>
<li>לצורך השימוש בהנחה ו/או במבצע הרצוי על ידך, יש באפשרותך להתקשר לבעל העסק להזמין מקום לשעה בה תגיע/י או פשוט להגיע לבית העסק הנבחר על ידך בטווח הזמן לגביו קיים המבצע / ההנחה הרלוונטי/ת. אולם, היה ולא הזמנת מקום מראש, תוכל/י לקבל שירות מבעל העסק על בסיס מקום פנוי בלבד, ועל כן אין החברה ו/או בעל/ת המסעדה מבטיחים כי תהא אפשרות להשתמש בהנחות ו/או המבצעים המוצעים על ידי בעל /ת העסק והמפורסמים באתר ו/או באפליקציה. מיד לאחר שנמצא לך מקום בבית העסק אותו בחרת ואליו הגעת, עליך להודיע כי הגעת בעקבות המבצע / ההנחה הרלוונטי/ת על מנת שתוכל להשתמש בזאת בעת התשלום. ככל שלא נמצא לך מקום בבית העסק בטווח השעות של המבצע ו/או ההנחה הרלוונטית &ndash; לא תוכל להשתמש במבצע ו/או בהנחה, אפילו אם הגעת לבית העסק בטווח שעות אלו.</li>
<li>השימוש באפליקציה מותר לכל משתמש מעל גיל 18 ובעל כשרות משפטית להתקשר בהסכם זה על פי חוק.</li>
<li>החברה שומרת לעצמה את הזכות לפרסם בתי עסק שונים ו/או למסירת מידע בעל תוכן שיווקי באפליקציה ו/או באתר החברה וזאת בהתאם לשיקולה הבלעדי.</li>
<li><u>אחריות</u>
<ul>
<li>המידע, המוצרים והתכנים המוצגים באפליקציה ו/או באתר מוצגים כפי שהם (As Is) ללא מעורבות ו/או התערבות כלשהי של החברה. הנתונים המוצגים באפליקציה ביחס למבצעים ו/או להנחות המוצגים בה מתייחסים למידע שנמסר על ידי בתי העסק עליהם אין לחברה כל שליטה. בית העסק המציע מבצע ו/או הנחה אחראי כלפי המשתמש לצורך מילוי חובותיו על פי התנאים אשר הוצעו על ידו ועל נכונותם. אין החברה אחראית לנכונות פרטי המבצע ו/או ההנחה ו/או לקיום תנאיהם כלפי המשתמש, לרבות מידע אודות בית העסק, מחירים, מצגים ו/או כל מידע אחר שמקורם במידע שמוצג או מופץ על ידי בית העסק.</li>
<li>כל הסתמכות של משתמש ו/או צד שלישי כלשהו, על כל תוכן, מידע, פרסומות, מוצרים, שירותים דעות ועמדות, המוצגים או המפורסמים באפליקציה ייעשה על פי שיקול דעת המשתמש ועל אחריותו הבלעדית בלבד.</li>
<li>לא יינתן כל פיצוי בגין כל נזק ו/או הפסד אשר ייגרם לך כתוצאה מיצירת קשר בינך לבין בית העסק בנוגע למידע על המבצע ו/או ההנחה באפליקציה ו/או מאי עמידת בית העסק בתנאי המבצע שפורסם על ידו והמוצגים באפליקציה ו/או בתנאי שימוש אלו, לרבות הפסד עבודה / הכנסה / רווח / הכנסות צפויות וכיו"ב.</li>
<li>החברה לא תהא אחראית להתקשרות שתיווצר בינך לבין בית עסק כלשהו, ולא יהיה אחראי לטיב ו/או איכות המוצרים ו/או השירותים הניתנים ו/או מוצעים לך על ידי בית העסק הרלוונטי, לרבות לא לתנאי הרכישה ו/או הליכי הרכישה ו/או אספקתם של המוצרים ו/או השירותים ו/או איכותם ו/או כל דבר אחר שמציע בית עסק כלשהו ללקוחותיו.</li>
<li>בכל מקרה, תנאי שימוש אלו אינם מגבילים כל אחריות מצידנו אשר עלינו לתתה על פי החוק הנהוג בישראל.</li>
<li>החברה פטורה מאחריות לגבי כל נזק ו/או פגיעה אשר אירעו כתוצאה מ: (א) כל טעות, מחדל, מחיקה, השמטה, או פגם בתוכן המובא באפליקציה ו/או באתר, וכן (ב) לכל כשל באתר ו/או באפליקציה, טעות, מחדל, השמטה, הפרעה, מחיקה, פגם, עיכוב בביצוע, וירוס מחשבים, קריסת קווי אינטרנט, גניבה או הריסת רשומות בזיכרון המחשב, כניסה לא מאושרת, תיקון או שימוש במידע, הפרת חוזה, נזיקין, רשלנות, לשון הרע, או כל עילה אחרת. החברה אינה ערבה או אחראית כי: (א) האתר ו/או האפליקציה נקיים מוירוסים, תולעים, סוס טרויאני, או כל תוכנה אחרת אשר יכולה ליצור הרס במחשב ו/או במכשירך הנייד וכן (ב) שהגישה לאתר ו/או האפליקציה תהא נקיה מטעויות וללא כל הפרעה.</li>
<li>החברה מייעצת לכלל המשתמש להתנהג כצרכן זהיר ונבון ואין בהצגת הנתונים באפליקציה /או באתר משום המלצה ו/או הבעת דעה ו/או חוות דעת ביחס למידע של בית עסק כלשהו ו/או לשירותים ו/או מוצרים המוצעים על ידו.</li>
</ul>
</li>
</ol>
<p>&nbsp;</p>
<ol start="8">
<li><u>זכויות יוצרים וקניין רוחני</u>
<ul>
<li>זכויות היוצרים והקניין הרוחני, השם, סימני המסחר, פטנטים (בישראל ומחוצה לה) ועיצוב האתר ו/או האפליקציה לרבות המוצר/ים, התכנים המתפרסמים בו וכל חומר אחר הכלולים בו הינם בבעלות החברה ו/או של צד ג' (כגון בתי העסק). החברה אינה מאשרת להוריד ו/או לשמור עותקים של האתר ו/או האפליקציה ו/או של כל חלק באתר ו/או באפליקציה לכל מטרה שהיא. על אף האמור, החברה מסכימה להעתיק את המסך באמצעות PRINT SCREEN (להלן: "<strong>העותק</strong>") לשימוש אישי, להשכלה, ללא מטרת רווח, לא מסחרי, לשמירה לרשומות והכל בכפוף לשמירת הזכויות הקנייניות של החברה ובכפוף לשמירה על כל הזכויות הקנייניות, סימני מסחר ו/או סימנים וסמלים אחרים אשר מופיעים בעותק ומבלי להסיר סימנים וסמלים אלו מהעותק.</li>
<li>תוכן האתר ו/או האפליקיה הינו לצורכי הצגת מידע בלבד. אין להעתיק ו/או לשכפל ו/או להשתמש ו/או להפיץ ו/או למכור ו/או לסחור ו/או לשווק ו/או לשנות ו/או לפרסם ו/או לעשות כל פעולה אחרת אשר איננה מותרת עפ"י דין, בין אם למטרת רווח ובין אם לאו, וזאת ללא קבלת אישור מפורש בכתב ו/או הסכמה מפורשת בכתב, מראש, מהחברה.</li>
</ul>
</li>
</ol>
<p>&nbsp;</p>
<ol start="9">
<li><u>הודעות</u>
<ul>
<li>מרבית הפניות אלינו ו/או מאיתנו יעשו באמצעות דוא"ל, על ידי פניה לכתובת <a href="mailto:team@sppontani.co.il">team@sppontani.co.il</a> כתובת זו תשמש גם לצורך מתן שירותים נלווים או לצרכי הליכים משפטיים.</li>
<li>בכל מקרה, הודעה אלקטרונית תחשב שהתקבלה מרגע שעברו 24 שעות ממועד שליחתה.</li>
</ul>
</li>
<li><u>המחאת זכויות</u>
<ul>
<li>אין באפשרותך להעביר ו/או להמחות את זכויותיך על פי הסכם זה לאחר. אנו יכולים להעביר ו/או להמחות את זכויותינו על פי ההסכם בינינו לצד ג', ללא כל הסכמה מצידך.</li>
</ul>
</li>
<li><u>מדיניות פרטיות</u>
<ul>
<li>על מנת להשתמש בשירותי האפליקציה עליך להירשם אליה ולהזין פרטים אישיים כגון שם, כתובת הדוא"ל שלך, מספר טלפון וכיו"ב. כל הנתונים שתזין/ני ישמרו על ידי החברה במאגר מידע שבבעלותה. מסירת המידע אינה חובה על פי חוק ואולם ללא פרטים אלו לא תוכל/י להשתמש באפליקציה. כתוצאה מהשימוש באפליקציה ייתכן וייאסף מידע אודות המבצעים שהשתמשת בהם, בתי העסק לגביהם הבעת התעניינות, שירותים שהשתמש בהם, העמודים בהם צפית, מקום המחשב שבאמצעותו גלשת לאתר ועוד. השימוש בכל הנתונים, בין אם מסרת ובין אם נאסף כתוצאה מגלישה באתר (להלן: "<strong>המידע</strong>"), יעשה רק על פי מדיניות הפרטיות המפורטת בתנאי שירות אלו, וישמר במאגר המידע של החברה על מנת:
<ul>
<li>לספק לך מידע כיצד ניתן להשתמש ולהפעיל את האתר על כל מסכיו ולאפשר לך להשתמש בו.</li>
<li>לרכישת מוצרים ושירותים באפליקציה.</li>
<li>ליצירת קשר ישיר עמך לאור שימוש באפליקציה ו/או באתר.</li>
<li>לשפר ולהעשיר את השירותים והתכנים המוצעים באפליקציה, לרבות יצירת תכנים חדשים המתאימים לדרישות המשתמשים באפליקציה ו/או ביטול ו/או שינוי של שירותים ותכנים קיימים. מידע מסוג זה הינו מידע סטטי בעיקרו ואינו מזוהה באופן ישיר עם משתמש/ת מסויים/מת.</li>
<li>לשם יצירת אפליקציה אשר מתאימה להעדפותיך על ידי כניסה לאזור אישי בו ו/או התאמת מודעות אשר מתאימות לתחומי התעניינות אשר מסרת.</li>
<li>שליחת הודעות דוא"ל על מנת לעדכן אותך בשירותים ומוצרים הנמכרים באתר וכן מידע שיווקי ופרסומי. הודעות אלו ישלחו אליך אך ורק אם הסכמת לכך באופן מפורש. על מנת להסיר אותך מרשימת התפוצה אנה פנה/י ל- team@sppontani.co.il.</li>
<li>לפתח, לתפעל ולעדכן את האתר ו/או האפליקציה, ולכל מטרה אחרת הנדרשת לאור תנאי השימוש המפורטים לעיל ולהלן.</li>
</ul>
</li>
<li>החברה לא תעביר לצד ג' את פרטיך האישיים ו/או כל מידע אשר נאסף במהלך גלישתך באתר (ככל שיש בפרטים אלו כדי לזהות אותך באופן אישי) אלא אם:
<ul>
<li>העברת פרטים אלו נדרשת לצורך מימוש המבצע בבית העסק אליו את/ה מבקש/ת להגיע ולהשתמש במבצע.</li>
<li>היה והפרת את תנאי השימוש באתר ו/או באפליקציה או פעולותיך באתר ו/או באפליקציה הינן בניגוד לדין או מהוות ניסיון לבצע פעולות בניגוד לדין, וכן בכל מחלוקת ו/או הליך משפטי אשר יתנהל בין החברה לבינך. במקרה כזה החברה תהא רשאית להעביר את המידע לרשויות אכיפת החוק, לערכאות משפטיות ולכל צד ג' רלוונטי אחר, על פי שיקול דעתה.</li>
<li>העברת המידע נדרשת על פי חוק ו/או צו שיפוטי המורה לחברה למסור את פרטיך לצד ג'.</li>
<li>במקרה בו החברה תתמזג ו/או תימכר ו/או תעביר שליטה לגוף אחר &ndash; החברה תהא זכאית להעביר את פרטיך לאותו גורם עמו נערך המיזוג/מכירה/העברת שליטה, ובלבד שגורם זה יקבל על עצמו כלפיך את הוראות תנאי שימוש אלו.</li>
</ul>
</li>
<li><u>Cookies</u>
<ul>
<li>האתר משתמש ב"עוגיות" (Cookies) לצורך תפעולו השוטף והתקין, ובכלל זה כדי לאסוף נתונים סטטיסטיים אודות השימוש באתר, לאימות פרטים, כדי להתאים את האתר להעדפותיך האישיות ולצורכי אבטחת מידע. טכנולוגית ה&ndash; Cookies סטנדרטית וקיימת ברוב אתרי האינטרנט המרכזיים. מרבית הדפדפנים כוללים אפשרות להימנע מקבלת Cookies. חשוב לדעת, כי בכדי לנצל את יישומי האתר, יש לאפשר שימוש בעוגיות.</li>
<li>החברה לא תחשב כמפרת התחייבות לפרטיות או פוגעת בפרטיות משתמש/ת בשל כל מידע, כהגדרתו בחוק המחשבים תשנ"ה &ndash; 1995, שיהיה בו כדי לזהות משתמש/ת או להתחקות אחריו/ה על ידי אחר/ת, שנובע מהשימוש באמצעי תקשורת אלקטרוניים ככלל ותקשורת מחשבים בפרט.</li>
</ul>
</li>
<li><u>אבטחת מידע</u> &ndash; החברה משתמשת במערכות ונהלים לצורך אבטחת המידע אשר נאגר באתר ובמאגרי המידע. יחד עם זאת, לא ניתן להגיע לביטחון מוחלט באשר לאבטחת המידע והחברה אינה יכולה להתחייב באופן מוחלט כי מאגר המידע ו/או השירותים באפליקציה ו/או באתר יהיו חסינים מפני גישה בלתי מורשית.</li>
<li><u>עידכון / מחיקת מידע אודות המשתמש</u> &ndash; החברה מתחייבת לעדכן מידע אישי אודותיך או למחוק מידע אישי אודותיך ולא לעשות בו שימוש כלשהו כאמור לעיל, אם תתבקש לעשות כן על ידך במפורש ובכתב, על ידי פניה לכתובת team@sppontani.co.il והכל בהתאם ובכפוף לחוק הגנת הפרטיות התשמ"א 1981.</li>
</ul>
</li>
<li><u>שונות</u>
<ul>
<li>שום ויתור, הנחה או הימנעות מפעולה במועדה, או ארכת זמן לעשייה, או הימנעות מעשיית פעולה כמתחייב מהסכם זה, לא ייחשבו כויתור של הצדדים על זכויותיהם לפי הסכם זה ולא ישמשו מניעה לתביעה על ידם אלא אם נעשה ויתור כזה במפורש ובכתב.</li>
<li>במידה ותקבע ערכאה משפטית מוסמכת כי הוראה מהוראות הסכם זה אינה חוקית ו/או אינה תקפה, אזי לא תבטל הדבר את יתר הוראות הסכם זה ו/או את חלקי אותה הוראה שבוטלה ו/או צומצמה על ידי הערכאה המשפטית.</li>
<li>תנאי שימוש אלו ממצים את מלוא זכויות הצדדים האמורות בהם ויגברו על כל התכתבות, מו"מ, הסדר קודם, שיחות קודמים/ות אשר נעשו בין הצדדים.</li>
</ul>
</li>
<li><u>דין וסמכות שיפוט</u>
<ul>
<li>על השימוש באתר ותנאי שימוש אלו יחולו דיני מדינת ישראל בלבד. סמכות השיפוט הבלעדית נתונה לביהמ"ש הרלוונטי במחוז ת"א בלבד.</li>
</ul>
</li>
</ol>
        </div>

    </ion-content>
</ion-view>