<ion-view style="background-color: transparent;">
        <button class="button button-clear favoritesPopupCloseButton" ng-click="hideFavoritesInfo()">
            <img src="img/close.png" style="width:25px">
        </button>
        <div class="favoritesPopupImg">
            <img src="img/favorite_info_popup.png" style="width: 90%; margin: 0 5%;">
        </div>
</ion-view>
