<ion-view style="background-color: transparent;">
        <button class="button button-clear favoriteAddedCloseButton" ng-click="hideFavoriteAdded()">
            <img src="img/close.png" style="width:25px">
        </button>
        <div class="favoriteAddedImg">
            <img src="img/add_favorite.png" style="width: 90%; margin: 0 5%;">
        </div>
</ion-view>

