<ion-modal-view>
    <ion-header-bar class="bar-energized newDealBar">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
        <h1 class="title" style="text-align: center">שכחתי סיסמה</h1>
    </ion-header-bar>
    <ion-content class="rtl">
        <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginInputDiv">
                    <input type="tel" class="loginInput" placeholder='מספר טלפון' ng-model="forgot.phone">
                </div>
                <!--<button class="button button-energized button-block" ng-click="sendPasswordBtn()">לשלוח</button>-->
                <button class="button button-energized button-block" ng-click="sendPasswordBtn()" style="
    /* background-color: #ffc900; */
    box-shadow: 0 0 0;
    position: relative;
">שלח</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>