<ion-modal-view>
    <ion-header-bar class="bar-energized newDealBar">
        <div class="buttons">
            <button class="button button-clear" ng-click="hideSupplierDeals()">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
        <h1 class="title">{{ supplierName }}</h1>
    </ion-header-bar>
    <div class="bar bar-subheader">
        <div class="button-bar buttonDoubleBar">
            <a class="button" ng-class="{'activeTab' : selection=='old', 'inactiveTab' : selection=='new'}" ng-click="selection='old'">הסטוריה</a>
            <a class="button" ng-class="{'activeTab' : selection=='new', 'inactiveTab' : selection=='old'}" ng-click="selection='new'">עלה היום בספונטני</a>
        </div>
    </div>
    <ion-content class="rtl has-subheader">
        <div class="mainDiv" align="center">
            <div class="subMainDiv">

                <!-- Tabs Content -->

                <div ng-switch on="selection">

                    <div ng-switch-when="new">

                        <div ng-repeat="deal in supplierNewDeals | orderBy: ['-active']" class="imageDeals">

                            <div class="imageMain">
                                <img ng-src="{{Host}}/{{ deal.image }}"
                                     style="width: 100%; min-width: 300px; height: 225px; filter: blur(2px); -webkit-filter: blur(2px);">
                                <div class="imageFav">
                                    <button class="button button-icon"
                                            ng-click="makeFavoriteBtn(deal.supplierId)"
                                            ng-show="!isFavorite(deal.supplierId)"><img src="img/fav_empty.png" width="30">
                                    </button>
                                </div>
                                <div class="imageFav">
                                    <button class="button button-icon" ng-click="deleteFavoriteBtn(deal.supplierId)"
                                            ng-show="isFavorite(deal.supplierId)"><img src="img/fav_full.png" width="30">
                                    </button>
                                </div>
                                <div class="imageMaps" ng-show=deal.dist>
                                    <button class="button button-icon"><img src="img/placeicon.png" width="30"></button>
                                </div>
                                <div class="imageDistance rtl" ng-show=deal.dist>
                                    <span><span style="font-size: 140%">{{ deal.dist }}</span> ק״מ<br> ממך</span>
                                </div>
                                <div class="imageCircle rtl">
                                    <span class="imageCirclePercent">{{ deal.discount_percent }}%</span>
                                    <span class="imageCircleDiscount"> הנחה</span>
                                </div>
                                
                                <div class="imageTimeGap rtl"><p>בין השעות {{ deal.starttime }}-{{ deal.endtime }}</p></div>
                                <div class="imageHr"></div>
                                <div class="imageLogo"><img ng-src="{{Host}}/{{ deal.logo }}" width="50" height="50"></div>
                                <div class="imageName rtl">
                                    <span>{{ deal.name }}</span>
                                    <span class="imageKosher" ng-if="deal.kosher == 1">כשר</span>
                                </div>
                                <div class="imageAddress rtl"><span>{{ deal.address }}</span></div>
                                <div class="imageWhatsUp">
                                    <button class="button button-clear" ng-click="shareWithWhatsApp(deal.name)">
                                        <img src="img/whats.png" height="30">
                                    </button>
                                </div>
                                <div class="imageInf">
                                    <img src="img/info.png" height="30" ng-click="showSupplierInfo(deal.dealId)">
                                </div>
                                <div class="imageQuantityOrdered rtl"><span>{{ deal.quantity_ordered }}<br><p
                                        style="font-size: 40%; line-height: 190%; display: block">הזמינו</p></span></div>
                            </div>
                            <div ng-show="!isOrdered(deal.dealId) && deal.active == true" class="imageOrderButton" >
                                <img src="img/order.png" ng-click="addToOrders(deal.supplierId, deal.dealId)" style="width: 100%;">
                            </div>
                            <div class="imageOrderButton" ng-show="isOrdered(deal.dealId)">
                                <img src="img/waiting.png" style="width: 100%;">
                                <div class="imageDeleteOrder" ng-click="deleteFromMyOrders(deal.dealId)" ></div>
                            </div>
                            <div class="imageOrderButton" ng-show="!isOrdered(deal.dealId) && deal.active == false">
                                <img src="img/next_time1.png" ng-click="missedDealPopup()" style="width: 100%;">
                            </div>
                        </div>

                    </div>

                    <div ng-switch-when="old">

                        <div ng-repeat="deal in supplierOldDeals" class="imageDeals">
                            <div class="imageMain" style="opacity: 0.7">
                                <img ng-src="{{Host}}/{{ deal.image }}"
                                     style="width: 100%; min-width: 300px; height: 225px; filter: blur(2px); -webkit-filter: blur(2px);">
                                <div class="imageFav">
                                    <button class="button button-icon" ng-show="!isFavorite(deal.supplierId)">
                                        <img src="img/fav_empty.png" width="30">
                                    </button>
                                </div>
                                <div class="imageFav">
                                    <button class="button button-icon" ng-show="isFavorite(deal.supplierId)">
                                        <img src="img/fav_full.png" width="30">
                                    </button>
                                </div>
                                <div class="imageMaps" ng-show=deal.dist>
                                    <button class="button button-icon"><img src="img/placeicon.png" width="30"></button>
                                </div>
                                <div class="imageDistance rtl" ng-show=deal.dist>
                                    <span><span style="font-size: 140%">{{ deal.dist }}</span> ק״מ<br> ממך</span>
                                </div>
                                <div class="imageCircle rtl">
                                    <span class="imageCirclePercent">{{ deal.discount_percent }}%</span>
                                    <span class="imageCircleDiscount"> הנחה</span>
                                </div>
                                <div style="direction: ltr;position: absolute;top: 19px;right: 50px;color: white;font-weight: 700;">
                                    <span>{{ deal.deal_date | date:'dd.MM.yyyy' }}</span>
                                </div>
                                <div class="imageTimeGap rtl"><p>בין השעות {{ deal.starttime }}-{{ deal.endtime }}</p></div>
                                <div class="imageHr"></div>
                                <div class="imageLogo"><img ng-src="{{Host}}/{{ deal.logo }}" width="50" height="50"></div>
                                <div class="imageName rtl">
                                    <span>{{ deal.name }}</span>
                                    <span class="imageKosher" ng-if="deal.kosher == 1">כשר</span>
                                </div>
                                <div class="imageAddress rtl"><span>{{ deal.address }}</span></div>
                                <div class="imageWhatsUp">
                                    <button class="button button-clear">
                                        <img src="img/whats.png" height="30">
                                    </button>
                                </div>
                                <div class="imageInf"><img src="img/info.png" height="30">
                                </div>
                                <div class="imageQuantityOrdered rtl"><span>{{ deal.quantity_ordered }}<br><p
                                        style="font-size: 40%; line-height: 190%; display: block">הזמינו</p></span></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>