<ion-view style="background-color: transparent;">
    <button class="button button-clear infoCloseButton" ng-click="hideInfo()">
        <img src="img/close.png" style="width:25px">
    </button>
    <div class="infoBlock">
        <div class="infoMainImg">
            <img ng-src="{{Host}}/{{ dealInfo.image }}" style="width: 100%;">
        </div>
        <div class="infoPlaceHolder">
            <div class="infoLogo">
                    <img ng-src="{{Host}}/{{ dealInfo.logo }}" style="width:100%;">
            </div>
            <div class="infoText">
                <p class="infoTextTitle">{{ dealInfo.name }}</p>
                <p class="infoTextDesc">{{ dealInfo.address }}</p>
                <p class="infoTextDesc rtl">שעות פתיחה:<br> {{ dealInfo.hoursopen }}</p>
                <p class="infoTextDesc">{{ dealInfo.phone }}</p>
            </div>
            <div class="infoButtons">
                <div class="infoStar">
                    <button class="button button-icon"
                            ng-click="makeFavoriteBtn(dealInfo.supplierId)"
                            ng-show="!isFavorite(dealInfo.supplierId)"><img ng-src="img/fav_empty.png" width="30" height="30"></button>
                    <button class="button button-icon"
                            ng-click="deleteFavoriteBtn(dealInfo.supplierId)"
                            ng-show="isFavorite(dealInfo.supplierId)"><img ng-src="img/fav_full.png" width="30" height="30"></button>
                </div>
                <div class="infoPhone">
                    <a href="tel:{{ dealInfo.phone }}"><img src="img/phone_icon.png" width="30"></i></a>
                </div>
            </div>
        </div>
    </div>
</ion-view>
