<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive" align-title="center">
        <ion-nav-buttons side="right">
<button class="" style="background-color: transparent;border:none;">
                    <div style="
    float: left;
    /* padding-top: 10px; */
    background-color: #ffffff;
    top: 0px;
    position: relative;
    color: #87684b;
    font-size: 23px;
    margin-right: -18px;
    padding-left: 45px;
    padding-right: 28px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* box-shadow: 0 0 10px #8c8c8c; */
">
  ספונטני </div>
  
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="left" style="position: relative;">
                <!--<button class="button button-icon button-clear" menu-toggle="left" ng-if="enterScreen == false">-->
                    <img src="img/menu_icon.png" width="35" height="20" style="position: absolute; top: 25px; left: 20px;" menu-toggle="left" ng-if="enterScreen == false">
                <!--</button>-->
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="customMenu">
            <ion-list class="rtl">
                <ion-item menu-close ui-sref="app.main" ng-class="{'active-menu-item': stateCurrentName == 'app.main', 'inactive-menu-item': stateCurrentName !== 'app.main'}">
                    <img src="img/menu/home.png" height="30" class="customMenuIcons" ng-hide="stateCurrentName == 'app.main'">
                    <img src="img/menu/home_active.png" height="30" class="customMenuIcons" ng-show="stateCurrentName == 'app.main'">
                    <span class="customMenuText">ראשי</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.myorders" ng-class="{'active-menu-item': stateCurrentName == 'app.myorders', 'inactive-menu-item': stateCurrentName !== 'app.myorders'}">
                    <img src="img/menu/i1.png" height="30" class="customMenuIcons" ng-hide="stateCurrentName == 'app.myorders'">
                    <img src="img/menu/i1_active.png" height="30" class="customMenuIcons" ng-show="stateCurrentName == 'app.myorders'">
                    <span class="customMenuText">ההזמנות שלי</span>
                </ion-item>
                <ion-item menu-close ng-click="checkUserRegistrationForFavorites()" href="" ng-class="{'active-menu-item': stateCurrentName == 'app.favorites' || stateCurrentName == 'app.add_favorites', 'inactive-menu-item': stateCurrentName !== 'app.favorites' && stateCurrentName !== 'app.add_favorites'}">
                    <img src="img/menu/i2.png" height="30" class="customMenuIcons" ng-hide="stateCurrentName == 'app.favorites' || stateCurrentName == 'app.add_favorites'">
                    <img src="img/menu/i2_active.png" height="30" class="customMenuIcons" ng-show="stateCurrentName == 'app.favorites' || stateCurrentName == 'app.add_favorites'">
                    <span class="customMenuText">מועדפים</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.conditions" >
                    <i class="fa fa-question-circle-o" aria-hidden="true" style="font-size: 29px;padding-left: 6px;"></i>
                    <span class="customMenuText">תנאי שימוש</span>
                </ion-item>
                <ion-item menu-close ng-click="isLoggedIn()" href="" ng-class="{'active-menu-item': stateCurrentName == 'app.login' || stateCurrentName == 'app.supplier_settings', 'inactive-menu-item': stateCurrentName !== 'app.login' && stateCurrentName !== 'app.supplier_settings'}">
                    <img src="img/menu/i3.png" height="30" class="customMenuIcons" ng-hide="stateCurrentName == 'app.login' || stateCurrentName == 'app.supplier_settings'">
                    <img src="img/menu/i3_active.png" height="30" class="customMenuIcons" ng-show="stateCurrentName == 'app.login' || stateCurrentName == 'app.supplier_settings'">
                    <span class="customMenuText"> בית עסק?</span>
                </ion-item>
                <ion-item menu-close ng-click="logOut()"  href="" ng-show="supplierLoggedIn">
                    <img src="img/menu/i4.png" height="30" class="customMenuIcons">
                    <span class="customMenuText">התנתקות</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
