<ion-view style="background-color: transparent;">
    <button class="button button-clear missedDealCloseButton" ng-click="hideMissedDealPopup()">
        <img src="img/close.png" style="width:25px">
    </button>
    <div class="missedDealImg">
        <img src="img/not_available.png" style="width: 90%; margin: 0 5%;">
    </div>
</ion-view>
