<ion-view view-title={{navTitle}}>
    <div class="bar bar-subheader bar-energized">
        <h1 class="title myOrdersTitle" style="font-weight: bold;">ההזמנות שלי</h1>
    </div>
    <ion-content class="has-subheader">
        <div class="mainDiv">

            <div ng-show="myOrders.length == 0" class="noOrders">אין הזמנות</div>

            <div ng-repeat="deal in myOrders | orderBy:'-deal_date'" class="myOrdersRow rtl" ng-click="showSupplierInfo(deal.dealId)">

                <div ng-class="{'opaqueOrder' : deal.deal_date !== today}">
                    <div class="myOrdersLogoDiv">
                        <div class="myOrdersLogo">
                            <img ng-src="{{Host}}/{{ deal.logo }}" width="60" height="60">
                        </div>
                        <div class="myOrdersDate" style="direction: ltr">
                            {{ deal.deal_date | date:'dd.MM.yyyy'}}
                        </div>
                    </div>
                    <div class="myOrdersText">
                        <div class="myOrdersName">
                            <span>{{ deal.name }}</span>
                        </div>
                        <div class="myOrdersAddress">
                            <span>{{ deal.address }}</span>
                        </div>
                        <div class="myOrdersTime">
                            <span>{{ deal.starttime }}-{{ deal.endtime }}</span>
                        </div>
                    </div>
                    <div class="myOrdersDeleteButton">
                        <img src="img/cancelx.png" width="30" ng-click="deleteFromMyOrders(deal.dealId); $event.stopPropagation();">
                        <!--<img src="img/cancelx.png" width="30" ng-show="deal.deal_date == today" ng-click="deleteFromMyOrders(deal.dealId); $event.stopPropagation();">-->
                    </div>
                    <div class="myOrdersCircleDiv">
                        <div class="myOrdersCircle">
                            <p><span class="myOrdersCirclePercent">{{ deal.discount_percent }}%</span>
                                <span class="myOrdersCircleDiscount">הנחה</span></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>