<ion-view style="background-color: transparent;">
        <button class="button button-clear registrationCloseButton" ng-click="hideRegistration()">
            <img src="img/close.png" style="width:25px">
        </button>
        <div class="registrationBlock" align="center">
            <div class="registrationMainDiv">
                <div class="registrationHeader">
                    הרשמה
                </div>
                <div class="registrationInputDiv">
                    <input type="text" placeholder='שם מלא' class="registrationInput" ng-model="fields.name">
                </div>
                <div class="registrationInputDiv">
                    <input type="tel" placeholder='מספר טלפון' class="registrationInput" ng-model="fields.phone">
                </div>
                <div class="rtl registrationConditions">
                    <label for="conditions" style="float:left; width: 90%; text-align: right">קראתי ואני מאשר את <a href="" style="color:black;">תקנון השימוש </a>
                        <input type="checkbox" id='conditions' name="conditions" ng-model="fields.conditions" style="float:right; width: 10%;  text-align: left; margin-top: 3px;">
                    </label>
                    <div class="registrationConditionsLink" ng-click="openConditions()"></div>
                </div>
                <div>
                    <button class="button button-block button-clear" ng-click="makeRegistrationBtn()">
                        <img src="img/invite.png" style="width: 100%">
                    </button>
                </div>
            </div>
        </div>
</ion-view>
