<ion-view view-title={{navTitle}}>
    <div class="bar bar-subheader">
        <div class="button-bar buttonDoubleBar">
            <a class="button" ng-class="{'activeTab' : selection=='old', 'inactiveTab' : selection=='new',}"
               ng-click="selection='old'">הסטוריה</a>
            <a class="button" ng-class="{'activeTab' : selection=='new', 'inactiveTab' : selection=='old',}"
               ng-click="selection='new'">עלה היום בספונטני</a>
        </div>
    </div>
    <ion-content class="has-subheader has-footer" style="bottom: 70px;">
        <div class="mainDiv">

            <div ng-switch on="selection">

                <div ng-switch-when="new">

                    <div ng-repeat="deal in supplierNewData | orderBy:['-deal_date', '-starttime']"
                         class="supplierRow rtl">
                        <div class="supplierLogo">
                            <img ng-src="{{Host}}/{{ supplierDetails.logo }}" width="50" height="50">
                        </div>
                        <div class="supplierText">
                            <div class="supplierName">
                                <span>{{ supplierDetails.name }}</span>
                            </div>
                            <div class="supplierAddress" style="direction: ltr">
                                <span>{{ deal.deal_date | date:'dd.MM.yyyy' }}</span>
                            </div>
                            <div class="supplierTime">
                                <span>{{ deal.starttime }}-{{ deal.endtime }}</span>
                            </div>
                        </div>
                        <div class="supplierDeleteButton">
                            <img src="img/cancelx.png" width="30" ng-click="deleteDeal(deal.dealId, deal.deal_date)">
                        </div>
                        <div class="supplierCircleDiv">
                            <div class="supplierCircle">
                                <p>{{ deal.discount_percent }}% הנחה</p>
                            </div>
                            <div class="supplierQuantityOrdered">
                                {{ deal.quantity_ordered }} הזמינו
                            </div>
                        </div>
                    </div>

                </div>

                <div ng-switch-when="old">

                    <div ng-repeat="deal in supplierOldData | orderBy:['-deal_date', '-starttime']"
                         class="supplierRow rtl">
                        <div class="supplierLogo">
                            <img ng-src="{{Host}}/{{ supplierDetails.logo }}" width="50" height="50">
                        </div>
                        <div class="supplierText">
                            <div class="supplierName">
                                <span>{{ supplierDetails.name }}</span>
                            </div>
                            <div class="supplierAddress" style="direction: ltr">
                                <span>{{ deal.deal_date | date:'dd.MM.yyyy' }}</span>
                            </div>
                            <div class="supplierTime">
                                <span>{{ deal.starttime }}-{{ deal.endtime }}</span>
                            </div>
                        </div>
                        <div class="supplierDeleteButton">
                            <img src="img/cancelx.png" width="30" ng-click="deleteDeal(deal.dealId, deal.deal_date)">
                        </div>
                        <div class="supplierCircleDiv">
                            <div class="supplierCircle">
                                <p>{{ deal.discount_percent }}% הנחה</p>
                            </div>
                            <div class="supplierQuantityOrdered">
                                {{ deal.quantity_ordered }} הזמינו
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="height: 70px;padding:0px">
            <div style="width: 100%;text-align: center;background-color: #fcc900;font-size: 30px;padding-top: 25px;font-weight: 700;color: #2b2b2b;" ng-click="addNewDeal()" class="">הוסף דיל חדש</div>
        <!--<img src="img/add_new_deal.png" style="width: 100%;" ng-click="addNewDeal()">-->
    </div>
</ion-view>
