<ion-modal-view >
    <ion-header-bar class="bar-energized newDealBar">
        <div class="buttons">
            <button class="button button-clear" ng-click="hideNewDeal()">
                <i class="icon ion-close-circled"></i>
            </button>
        </div>
        <h1 class="title" style="text-align: center">הדיל החדש</h1>
    </ion-header-bar>
    <ion-content class="rtl has-footer" align="center">
        <div class="newDealHeader">
            הזן הנחה חדשה
        </div>
        <div class="newDealHr"></div>
        <div class="newDealRow">
            <div class="newDealProcent">
                %
            </div>
            <div class="newDealCircleDiv">
                <div class="newDealCircle">
                    <input type="number" ng-model="fields.discount_percent" placeholder="50">
                </div>
                <div class="newDealCircleCaption">
הקלד מספר
                </div>
                <div class="newDealCircleCaption">
                    מינימום 5%
                </div>
            </div>
            <div class="newDealDiscount">
                הנחה
            </div>
        </div>
        <div class="newDealRow">
            <div class="newDealLabel">
                תאריך המבצע
            </div>
            <div class="newDealInputDiv">
                <input type="text" placeholder="בחר תאריך" ng-model="fields.date" class="newDealInputDate" ng-click="pickDate()">
            </div>
        </div>
        <div class="newDealRow">
            <div class="newDealLabel">
                זמן התחלה
            </div>
            <div class="newDealInputDiv">
                <input type="text" placeholder="בחר שעה" ng-model="fields.starttime" class="newDealInputTime" ng-click="pickStartTime()">
            </div>
        </div>
        <div class="newDealRow">
            <div class="newDealLabel">
                זמן סיום
            </div>
            <div class="newDealInputDiv">
                <input type="text" placeholder="בחר שעה" ng-model="fields.endtime" class="newDealInputTime" ng-click="pickEndTime()">
            </div>
        </div>
    </ion-content>
    <ion-footer-bar style="height: 84px; padding: 0;" ng-class="{'hide-on-keyboard-open': !fields.date && !fields.starttime && !fields.endtime}" class="bar-footer">
        <!--<button class="button button-clear" ng-click="submitNewDeal(fields.discount_percent)" style="margin: -8px; height: 84px;">-->
            <!--<img src="img/save.png" style="width: 100%; height: 100%;">-->
        <!--</button>-->
        <img src="img/save.png" style="width: 100%; height: 100%; padding: -8px" ng-click="submitNewDeal(fields.discount_percent)">
    </ion-footer-bar>
</ion-modal-view>

