<ion-view view-title={{navTitle}}>
    <div class="bar bar-subheader bar-energized">
        <h1 class="title favoritesTitle" style="font-weight: bold;">מועדפים</h1>
        <button class="button button-clear" ng-click="showFavoritesInfo()">
            <img src="img/favorite_info_button.png" style="height:100%;">
        </button>
    </div>
    <ion-content class="has-subheader">
        <div class="mainDiv">
            <div>
                <div class="button-bar">
                    <a class="button" style="    font-size: 20px;padding-top: 2px;" ng-click="trashcan = !trashcan">ערוך <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a class="button" style="    font-size: 20px;padding-top: 2px;" ui-sref="app.add_favorites">הוסף <i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
            <div ng-if="angular.equals({}, favoriteSuppliers)" class="noFavorites">אין מועדפים</div>
            <div ng-repeat="supplier in favoriteSuppliers" class="favoritesRow">
                <div class="favoritesStar">
                    <button class="button button-icon" ng-show="trashcan == true" ng-click="deleteFavoriteBtn(supplier.index)">
                        <i class="icon ion-ios-trash-outline" style="width: 40px"></i>
                    </button>
                    <img ng-src="img/fav_full.png" width="40" ng-show="trashcan == false">
                </div>
                <div class="favoritesLogo">
                    <img ng-src="{{Host}}/{{ supplier.image }}" width="50" height="50">
                </div>
                <div class="favoritesText">
                    <div class="rtl favoritesName">
                        <span>{{ supplier.name }}</span>
                    </div>
                    <div class="rtl favoritesAddress">
                        <span>{{ supplier.address }}</span>
                    </div>
                </div>
                <div class="favoritesSupplierDeals">
                    <button class="button button-clear" ng-show="showGetAllDealsIcon(supplier.index)" ng-click="getSupplierDeals(supplier.index)">
                        <img src="img/show_deals.png" width="60">
                    </button>
                    <button class="button button-clear" ng-show="!showGetAllDealsIcon(supplier.index)">
                        <img src="img/empty_deals.png" width="60">
                    </button>
                </div>
                <div class="favoritesHr" ng-if="$index!=0"></div>
            </div>
            <div ng-if="!angular.equals({}, favoriteSuppliers)" class="favoritesHr" ></div>
        </div>
    </ion-content>
</ion-view>
