<ion-view view-title={{navTitle}}>
    <ion-content class="rtl has-subfooter">
        <div class="mainDiv" align="center">
            <div class="subMainDiv">
                <div class="loginHeader">
                    כניסה למערכת ניהול
                </div>
                <div class="loginHr"></div>
                <div class="loginInputDiv">
                    <input type="text" placeholder='שם משתמש' class="loginInput" ng-model="login.username">
                </div>
                <div class="loginInputDiv">
                    <input type="password" placeholder="סיסמה" class="loginInput" ng-model="login.password">
                </div>
                <button class="button button-block button-clear" ng-click="loginBtn()">
                    <img src="img/enter_app.png" style="width: 100%">
                </button>
                <div class="rtl" style="padding-top:10px;">
                   בהתחברות אני מאשר את  <a href="#/app/conditions_business" style="color:black;font-weight:700;">  תנאי השימוש </a>
                </div>
                <div class="rtl loginForgotPass">
                    שכחתם סיסמא? <a href="" ng-click="forgotPasswordBtn()" style="color:black;">לחצו כאן </a>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-footer hide-on-keyboard-open" style="height: 65px;padding:0px;">
        <button class="button button-clear contactButton" style="    padding: 0px;" ng-click="showContactForm()">
            <img src="img/contact.png" style="width: 100%;">
        </button>
    </ion-footer-bar>
</ion-view>
