<ion-view style="background-color: transparent;">
        <button class="button button-clear orderAddedCloseButton" ng-click="hideOrderAdded()">
            <img src="img/close.png" style="width:25px">
        </button>
        <div class="orderAddedImg">
            <img src="img/order_popup.png" style="width: 90%; margin: 0 5%;">
        </div>
</ion-view>
