<ion-view view-title={{navTitle}}>
    <ion-content>
        <div class="mainDiv">

            <div class="mainSearchDiv">
                <input type="text" placeholder="חפש מסעדה" ng-model="favorites_search.data" ng-keypress="myFunct($event);" class="mainSearch">
                <span><i id="favSearchIcon" class='icon ion-android-search mainSearchIcon' ng-click="searchSuppliers(favorites_search.data)"></i></span>
            </div>

            <div ng-if="noSuppliers == true" class="noOrders">אין מסעדות מתאימות</div>
            <div ng-repeat="supplier in searchSupplierData" class="favoritesSearchRow rtl">
                <div class="favoritesSearchBorder">
                    <div class="favoritesSearchLogo">
                        <img ng-src="{{Host}}/{{ supplier.logo }}" width="50" height="50">
                    </div>
                    <div class="favoritesSearchName">
                        {{ supplier.name }}
                    </div>
                    <div class="favoritesSearchAddress">
                        {{ supplier.address }}
                    </div>
                    <div class="favoritesSearchDealsNumber" ng-show="supplier.deals_number > 0" ng-click="getSupplierDeals(supplier.supplierId)">
                        <span>{{supplier.deals_number}} דילים ספונטני </span>
                    </div>
                    <div class="favoritesSearchDealsNumber" ng-show="supplier.deals_number == 0">
                        <span>כרגע אין דיל ספונטני</span>
                    </div>
                    <div class="favoritesSearchButtons">
                        <div class="favoritesSearchButtonStar">
                            <button class="button button-icon" ng-click="makeFavoriteBtn(supplier.supplierId)" ng-show="!isFavorite(supplier.supplierId)">
                                <img src="img/fav_empty.png" width="40">
                            </button>
                            <button class="button button-icon" ng-click="deleteFavoriteBtn(supplier.supplierId)" ng-show="isFavorite(supplier.supplierId)">
                                <img src="img/fav_full.png" width="40">
                            </button>
                            <p class="favoritesSearchButtonStarText">הוסף למועדפים וקבל התראות</p>
                        </div>
                        <div class="favoritesSearchButtonDeals">
                            <button ng-click="showSupplierInfo(supplier.supplierId)" style="    background-color: transparent;background: none;border: none;">
                                <img src="img/favorite_info_button.png" width="40">
                            </button>
                            <p class="favoritesSearchButtonDealsText">צפה בדף המסעדה</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>