<ion-view style="background-color: transparent;">
    <button class="button button-clear deleteOrderCloseButton" ng-click="hideDeleteOrderPopup()">
        <img src="img/close.png" style="width:25px">
    </button>
    <div class="deleteOrderBlock">
        <div class="deleteOrderImg">
            <img src="img/cancel_order.jpg" style="width: 100%;">
        </div>
        <div class="deleteOrderButtons">
            <div class="deleteOrderYes">
                <img src="img/yes.jpg" style="width: 100%;" ng-click="deleteOrder()">
            </div>
            <div class="deleteOrderNo">
                <img src="img/no.jpg" style="width: 100%;" ng-click="hideDeleteOrderPopup()">
            </div>
        </div>
    </div>
</ion-view>
