.rtl {
    direction: rtl;
}

.ng-hide {
    display: none !important;
}

.background
{
    background-color: white;
}

.mainDiv
{
    width:100%;
    overflow:hidden;
}

.subMainDiv
{
    width:95%;
    margin-top:10px;
}

.enterScreen {
       background-image: url(../img/introWopen.png);
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    margin-top: -97px;
    background-size: 550px;
    background-position-y: 18px;
    background-position-x: 0px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    opacity: 1;
}

.scroll {
    min-height: 100%;
}

.enterButton {
       margin: 0 auto;
    display: block;
    bottom: 16px;
}

.keyboard-open .has-footer{
    bottom: 0;
}

/*Menu styling*/

.customMenu {
    background-color: #353535 !important
}
.customMenu .item {
    background-color: #353535 !important;
    border:none;
    border-top: 1px solid;
    border-bottom:2px solid;
    border-color: #434343;
    color: white;
}
.customMenu .item-content {
    background-color: #353535 !important;
}

.customMenuIcons {
    padding-top: 5px;
    padding-left: 7px;
}

.customMenuText {
    top: -5px;
    position: relative;
}

.active-menu-item {
    color: #ffd012 !important;
}

.inactive-menu-item {
    color: white !important;
}
/*End of menu styling*/

/*Bar styling*/

.bar-header {
    height: 65px;
}

.bar-header .title {
    height: 65px;
}

.bar .buttons-left .left-buttons .button{
    height: 65px;
    padding-top: 15px;
    padding-left: 15px;
}

.has-header {
    top: 65px;
    direction: ltr;
}

.bar-subheader {
    top: 65px;
}

.has-subheader {
    top: 108px;
}

/*End of bar styling*/

/*Login page layout*/

.loginInputDiv{
    padding: 10px;
}

.loginInput
{
    font-size:120%;
    font-weight:bold;
    height:50px !important;
    text-align:center;
    width:100%;
    background: #F0F1F1;
}


.loginInputTextarea
{
    text-align:right;
    width:100%;
    background: #F0F1F1;
    padding: 5px;
}

.loginHeader {
    font-size: 150%;
    padding: 10px;
    font-weight: bold;
}

.loginHr {
    width:90%;
    margin: 5% 5%;
    height:3px;
    background: #FCC900;

}

.loginForgotPass {
    padding-top: 15px;
}

.contactButton {
    padding-top: 30px;
}
/*End of login page layout*/

/*Main page layout*/

.mainSearchDiv {
    position: relative;
}

.mainSearch {
    background-color: #F4F4F4;
    width: 90%;
    margin: 15px 5% 5px 5%;
    text-align: center;
}

.mainSearchIcon {
    position: absolute;
    top: 30%;
    right: 7%;
    font-size: 150%;
    color: #7A7C7B;
}

.nothingFound{
    font-size: 130%;
    color: red;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.imageMain{
    position: relative;
    width: 100%;
}

.imageFav {
    position: absolute;
    right: 2%;
    top: 5%;
}

.imageMaps {
    position: absolute;
    left: 2%;
    top: 5%;
}

.imageDistance {
    position: absolute;
    left: -10px;
    top: 23%;
    color: white;
    line-height: 110%;
    font-weight: bold;
    text-align: center;
	width:80px;
    font-size: 90%;
}


.imageCircle {
    width: 100px;
    height: 100px;
    background: #FCC900;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    padding-top: 27px;
}

.imageCirclePercent {
    font-size: 300%;
    font-weight: bold;
    color: black;
    display: block;
    line-height: 80%;
}

.imageCircleDiscount {
    font-size: 150%;
    font-weight: bold;
    color: black;
}

.imageTimeGap {
    width: 60%;
    height: 20px;
    background: white;
    border-radius: 7px;
    position:absolute;
    top: 58%;
    margin: 0 26%;
}

.imageHr {
    width:90%;
    margin: 0 5%;
    height: 2px;
    position: absolute;
    top: 70%;
    background: white;
}

.imageLogo {
    position: absolute;
    right: 2%;
    top: 73%;
}

.imageName {
    position: absolute;
    right: 20%;
    top: 74%;
    font-size: 120%;
    color: white;
    font-weight: bold;
}

.imageKosher {
    color: #FCC900;
    font-size: 80%;
    font-weight: normal;
}

.imageAddress {
   position: absolute;
    right: 20%;
    top: 82%;
    color: white;
    width: 44%;
    line-height: 16px;
    text-align: right;
}

.imageWhatsUp {
    position: absolute;
    top: 76.9%;
    left: 12%;
}

.imageInf {
    position: absolute;
    top: 78%;
    left: 26%;
    font-size: 250%;
    color: white;
}

.imageQuantityOrdered {
    width: 40px;
    height: 40px;
    background: black;
    opacity: 0.5;
    position: absolute;
    left: 2%;
    top: 75%;
    color: #FCC900;
    font-weight: bold;
    font-size: 160%;
    padding-top: 2%;
    display: block;
    line-height: 70%;
    text-align: center;
}

.imageDeals {
    margin-bottom: 15px;
}

.imageOrderButton {
    position: relative;
    margin-top: -5px;
}

.imageDeleteOrder {
    position: absolute;
    width: 13%;
    height: 100%;
    top: 0;
    left: 0;
}

.scrollToTop
{
    position:absolute;
    z-index:100;
    right:30px;
    bottom:100px;
}

.orderAdded .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 200px;
    margin-top: -200px;
}

.orderAdded .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.orderAddedImg {
    padding-top: 20px;
}

.orderAddedCloseButton {
    top: 2px;
    right: -4px;
    position:absolute;
}

.deleteOrder .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 150px;
    margin-top: -200px;
}

.deleteOrder .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.deleteOrderBlock {
    padding-top: 20px;
    width: 94%;
    margin: 0 3%;
}

.deleteOrderCloseButton {
    top: 2px;
    right: -10px;
    position:absolute;
}

.deleteOrderImg {
    height: 60px;
    width: 100%;
}

.deleteOrderButtons {
    width: 100%;
    overflow: hidden;
}

.deleteOrderYes {
    width: 50%;
    float: right;
}

.deleteOrderNo {
    width: 50%;
    float: left;
}

.favoritesPopup .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 200px;
    margin-top: -200px;
}

.favoritesPopup .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.favoritesPopupImg {
    padding-top: 20px;
}

.favoritesPopupCloseButton {
    top: 2px;
    right: -4px;
    position:absolute;
}

.favoriteAdded .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 200px;
    margin-top: -200px;
}

.favoriteAdded .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.favoriteAddedImg {
    padding-top: 20px;
}

.favoriteAddedCloseButton {
    top: 2px;
    right: -4px;
    position:absolute;
}


.missedDeal .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 200px;
    margin-top: -200px;
}

.missedDeal .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.missedDealImg {
    padding-top: 20px;
}

.missedDealCloseButton {
    top: 2px;
    right: -4px;
    position:absolute;
}
/*End of main page layout*/

/*Supplier settings layout*/

.supplierTitle {
    color: black !important;
}

.supplierRow {
    height: 100px;
    width: 100%;
    background-color: #F4F4F4;
    margin: 7px 0;
    overflow: hidden;
}

.supplierLogo {
    float: right;
    width: 10%;
    margin: 25px 15px;
}

.supplierText {
    width: 50%;
    float: right;
    padding-right: 10px;
}

.supplierName {
    width: 100%;
    text-align: right;
    font-weight: bold;
    margin-top: 15px;

}

.supplierAddress {
    width: 100%;
    text-align: right;
}

.supplierTime {
    width: 100%;
    text-align: right;
    font-size: 150%;
    margin-top: 5px;
    font-weight: bold;
}

.supplierCircleDiv {
    width: 20%;
    float: left;
    padding-top: 5px;
    max-width: 70px;
}

.supplierCircle {
    width: 70px;
    height: 70px;
    background: #FCC900;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    font-size: 150%;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 15px;
}

.supplierQuantityOrdered {
    text-align: center;
    font-size: 80%;
}

.supplierDeleteButton {
    width: 10%;
    float: left;
    padding-top: 60px;
}

.newDealBar {
    height: 44px;
}

.newDealHeader {
    font-size: 120%;
    font-weight: bold;
}

.newDealHr {
    width:90%;
    margin: 5% 5%;
    height:3px;
    background: #FCC900;
}

.newDealRow {
    width: 100%;
    overflow: hidden;
}

.newDealProcent {
    float: right;
    width: 15%;
    font-size: 200%;
    padding-top: 40px;
    font-weight: bold;
    margin-right: 60px;
    text-align: left;
}

.newDealCircleDiv {
    float: right;
    width: 25%;
    min-width: 100px;
}

.newDealCircle {
    width: 100px;
    height: 100px;
    background: #FCC900;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: black;
    padding: 15px;
}

.newDealCircle input {
    background-color: #FCC900;
    width: 70px;
    height: 70px;
    text-align: center !important;
    font-size: 35px;
    font-weight: bold;
}

.newDealCircle input::-webkit-input-placeholder{
    line-height: 55px;
}

.newDealCircleCaption {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #B2B2B2;
}

.newDealDiscount {
    float: right;
    width: 25%;
    padding-top: 40px;
    font-size: 200%;
    font-weight: bold;
}

.newDealLabel {
    width: 40%;
    float: right;
    font-size: 120%;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
    text-align: left;
}

.newDealLabelQuantity {
    width: 40%;
    float: right;
    font-size: 120%;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    text-align: left;
    padding-left: 10px;
}

.newDealInputDiv {
    width: 60%;
    float: left;
    padding-top: 10px;
}

.newDealInputDate {
    font-size:120%;
    font-weight:bold;
    height: 40px !important;
    width: 80% !important;
    text-align:center;
    background: #F0F1F1;
    background-image: url(../img/date2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right center;
}

.newDealInputTime {
    font-size:120%;
    font-weight:bold;
    height: 40px !important;
    width: 80% !important;
    text-align:center;
    background: #F0F1F1;
    background-image: url(../img/time2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right center;
}

.newDealInput {
    font-size:120%;
    font-weight:bold;
    height: 40px !important;
    width: 80% !important;
    text-align:center;
    background: #F0F1F1;
}

.newDealSave {
    padding-top: 30px;
}
/*End of Supplier settings layout*/

/*My orders layout*/
.myOrdersTitle {
    color: black !important;
}

.noOrders {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    padding-top: 20px;
}

.opaqueOrder{
    opacity: 0.5;
}

.myOrdersRow {
    height: 100px;
    width: 100%;
    background-color: #F4F4F4;
    margin: 0 0 7px 0;
    overflow: hidden;
}

.myOrdersLogoDiv {
    float: right;
    width: 18%;
}

.myOrdersLogo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    display:table;
}

.myOrdersDate{
    width: 100%;
    font-size: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.myOrdersText {
    width: 50%;
    float: right;
    padding-right: 10px;
}

.myOrdersName {
    width: 100%;
    text-align: right;
    font-weight: bold;
    margin-top: 15px;
    font-size: 130%;

}

.myOrdersAddress {
    width: 100%;
    text-align: right;
}

.myOrdersTime {
    width: 100%;
    text-align: right;
    font-size: 150%;
    margin-top: 5px;
    font-weight: bold;
}

.myOrdersCircleDiv {
    width: 20%;
    float: left;
    padding-top: 15px;
}

.myOrdersCircle {
    width: 70px;
    height: 70px;
    background: #FCC900;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    color: black;
    text-align: center;
    padding-top: 15px;

}

.myOrdersCirclePercent {
    font-size: 200%;
    font-weight: bold;
    line-height: 30px;
    display: block;
}

.myOrdersCircleDiscount {
    font-size: 120%;
    font-weight: bold;
    line-height: 50%;
    display: block;
}

.myOrdersDeleteButton {
    width: 10%;
    float: left;
    padding-top: 60px;
}
/*End of my orders layout*/

/*Favorites layout*/
.favoritesTitle {
    color: black !important;
}

.noFavorites {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    padding-top: 20px;
}

.buttonDoubleBar {
    max-width: 95% !important;
    margin: 0 auto;
}

.activeTab {
    background-color: #FCC900;
}

.inactiveTab {
    background-color: #F0F1F1;
}

.favoritesRow {
    height: 85px;
    width: 100%;
    background-color: white;
    margin: 7px 0;
    overflow: hidden;
}

.favoritesStar {
    float: right;
    width: 15%;
    margin: 20px 3px;
}

.favoritesLogo {
    float: right;
    width: 15%;
    margin: 15px 0 15px 5px;
}

.favoritesText {
    width: 50%;
    text-align: right;
    float: right;
    word-wrap: break-word;
}

.favoritesName {
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
}

.favoritesAddress {
    width: 100%;
}

.favoritesSupplierDeals {
    width: 15%;
    float: left;
    margin-top: 25px;
}

.favoritesHr {
    width:100%;
    height:3px;
    background: #F4F4F4;
}
/*End of Favorites layout*/

/*Favorites search layout*/

.favoritesSearchRow {
    width: 100%;
}

.favoritesSearchBorder {
    width: 90%;
    margin: 20px 5%;
    height: 300px;
    border: 1px solid #F0F1F1;
}

.favoritesSearchLogo {
    margin: 20px auto 0 auto;
    display: table;
}

.favoritesSearchName {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.favoritesSearchAddress {
    text-align: center;
    width: 50%;
    margin: 5px auto;
}

.favoritesSearchDealsNumber {
    text-align: center;
    line-height: 30px;
    width: 70%;
    height: 30px;
    margin: 10px auto;
    background-color: #F0F1F1;
}

.favoritesSearchButtons {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.favoritesSearchButtonStar {
    width: 50%;
    float: left;
}

.favoritesSearchButtonStarText {
    width: 70%;
    margin: 0 auto;
    font-size: 70%;
    line-height: 95%;
}

.favoritesSearchButtonDeals {
    width: 50%;
    float: right;
}

.favoritesSearchButtonDealsText {
    width: 70%;
    margin: 0 auto;
    font-size: 70%;
}
/*End of Favorites search layout*/

/*Registration popup*/

.registration .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 300px;
}

.registration .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.registrationCloseButton {
    top: 2px;
    right: -10px;
    position:absolute;
}

.registrationBlock {
    padding-top: 20px;
}

.registrationMainDiv {
    background-color:white;
    width: 94%;
    margin: 0 3%;
    height: 300px;
}

.registrationHeader {
    font-size: 150%;
    padding: 15px 0 5px 0;
    font-weight: bold;
}

.registrationInputDiv {
    padding: 10px;
}

.registrationInput {
    font-size:120%;
    font-weight:bold;
    height:50px !important;
    text-align:center;
    width:100%;
    background: #F0F1F1;
}

.registrationConditions {
    padding-bottom: 15px;
    width: 100%;
    position: relative;
}

.registrationConditionsLink {
    position: absolute;
    bottom: 0;
    right: 62%;
    width: 85px;
    height: 15px;
}
/*End of Registration popup*/

/*Info modal layout*/

.infoMainDiv .popup
{
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 430px;
}

.infoMainDiv .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.infoBlock {
    margin-top: 20px;
}

.infoMainImg {
    width: 94%;
    margin: 0 3%;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid white;
}

.infoPlaceHolder {
	background-color:white;
	overflow:hidden;
    width: 94%;
    margin: -5px 3% 0 3%;
    padding: 5px;
}

.infoCloseButton {
	right:-10px;
	top:2px;
	position:absolute;
}

.infoLogo
{
	float:right;
	width:20%;
    padding-top: 10px;
}

.infoText
{
	float:right;
	width:60%;
	padding:5px 5px 5px 0;
	text-align:right;
}

.infoTextTitle
{
	font-size:15px;
	font-weight:bold;
}

.infoTextDesc
{
    width: 100%;
	margin-top:-10px;
}

.infoButtons {
    float: left;
    width: 20%;
}

.infoStar {
    padding: 10px 5px 5px 10px;
}

.infoPhone
{
    padding: 5px 5px 5px 10px;
}

/*End of info modal layout*/
.conditionsText {
    padding: 10px;
    direction: rtl;
    text-align: right;
    font-size: 12px;
}
.conditionsText h1{
        direction: rtl;
    text-align: right;
    font-size: 12px;
}

.infinityIconLoading{
     width: 50%;
    border-radius: 500px;
    transition: all 1s ease;
    transform: rotate(360deg);
    transform: rotate(0deg);
     -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition:all 1s ease;
}